.dialog-title {
    color: white;
    text-align: center;
  }
  
  .dialog-content {
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .dialog-form-field {
    width: 100%;
  }
  
  input.mat-input-element {
    color: white;
  }
  
  mat-label {
    color: white;
  }
  
  .file-input {
    color: white;
    margin-top: 10px;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  button.mat-button {
    color: white;
  }
  
  button.mat-button[color="primary"] {
    background-color: #1976d2;
    color: white;
  }
  